.blog-list {
    font-family: 'Arial', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .blog-list h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .blog-post {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }
  .date-setter{
    color: black;
  }
  
  .blog-post h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 5px;
  }
  
  .blog-date-tags {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 10px;
  }
  
  .blog-description {
    color: #555;
    font-size: 1em;
    line-height: 1.5;
  }
  

  


  
  


  