.about{
    background-color: #dcf4f6;
    margin: auto;
    padding: 1rem 7rem;
}
/* @media screen and (max-width:45.4375em) {
    .card-holders {
        padding: 1rem 4rem;


    }
} */
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.section-subheading{
    font-size: 15px;
}
.heading a{
    font-size: 13px;
    text-decoration: none;
    color: var(--cta-color);
}
.card-holders{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    padding-top: 15px;
    border: 2px solid red;
}
@media screen and (max-width:45.4375em) {
    .card-holders {
            flex-direction: column;
            align-items: center;
        }
    }
.card{
    padding: 10px;
    width: 60vh;
    background-color: #fff;

}
@media screen and (max-width:45.4375em) {
    .card {
            width: 50vh;
            
    }
}
@media screen and (max-width:30.6875em) {
    .card{
    width: 30vw;
    }
}
.card-1{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
}
@media screen and (max-width:30.6875em) {
    .title {
        font-size: 10px;
    }
}
.date{
    margin-top: 2rem;
    font-size: 12px;
    margin-bottom: 1.5rem;
}
@media screen and (max-width:30.6875em) {
    .date {
        margin-top: 1rem;
        font-size: 8px;
    }
}
