.intro-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
}

.textbox-side {
    width: 65vh;
    display: grid;
    place-content: center;
    gap: 2rem;
    padding: 10px;
}

.main-text {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
}

.sub-text {
    font-size: 15px;
}

.home-button {
    background-color: rgb(247, 87, 87);
    color: #fff;
    border-radius: 2px;
    padding: 10px;
    border: none;
    width: 40%;
}

.home-image-holder {
    height: 40vh;
}
.image-side{
    display: grid;
    place-content: center;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}