.workspace{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.workspace-div{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    
    justify-content: center;
}
@media screen and (max-width : 575px){
    .workspace-div{
        display: flex;
        flex-direction: column;
    }

}

.work-details{
    display: block;
}
.work-details p{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    display: flex;
    gap: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.btn button{
    font: 600;
    font-size: 0.8rem;
    background-color:#131842;
    border-radius: 12px;
    color:#eeeeee;
    width: 60px;
    height: 24px;
    align-items: center;
    display:flex;
    justify-content: center;
   
}
.image{
width: 200px;
height: 120px;
border-radius: 4px;
}
#heading{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: left;
    font-weight: 600; 
    font-size: 1.4rem; 
}
#heads{
    color: gray;
    font-weight: 800;
}