.workspace{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.workspace-div{
    display: flex;
    gap: 2rem;
}

.work-details{
    display: block;
    

}
.btn{
    display: flex;
    gap: 2rem;
}